.register_page {
  height: 100%;
  min-height: 93vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.register_page h1 {
  margin-top: 16%;
  margin-bottom: 5%;
  color: rgb(0, 130, 250);
}
.register_form {
  width: 100%;
}

.register_form form {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.register_form form input {
  max-width: 605px;
}

.register_form button {
  margin-top: 0%;
  padding: 6px 70px;
}

.register_form form span {
  margin-top: 5px;
}

@media screen and (min-width: 1000px) {
  .register_page h1 {
    margin-top: 10%;
  }
}
